{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section 
      class="avatar" 
      style="background: url({{instructor.avatar_url}}) no-repeat top center / cover">
    </section>

    <section class="details">
      <form action="/instructors?_method=PUT" method="post">
        <h3>Editar Instrutor</h3>

        {% include 'instructors/fields.njk' %}

        <input type="hidden" name="id" value={{instructor.id}}>
      </form>
      
      <form action="/instructors?_method=DELETE" method="post" id="form-delete">
        <input type="hidden" name="id" value={{instructor.id}}>
        <button type="submit">Deletar</button>
      </form>

      {% include 'deleteConfirmation.njk' %}
    </section>
</div>

{% endblock content %}